<main class='relative'>
  Nav
  <section class='xl:padding:1 wide:padding-r padding-b'>
    Hero
  </section>
  <section class='padding'>
    PopularProducts
  </section>
  <section class='padding'>
    SuperQuality
  </section>
  <section class='padding'>
    Services
  </section>
  <section class='padding'>
    SpecialOffer
  </section>
  <section class='bg-pale-blue padding'>
    CustomerReviews
  </section>
  <section class='padding-x sm:py-32 py-16'>
    Subscribe
  </section>
  <section class='padding-x bg-black padding-t pb-8'>
    Footer
  </section>
</main